body {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  font-size: 1.25rem;
}

main {
  width: 1088px;
  margin: 0 auto;
  line-height: 1.4em;
}

a {
  font-weight: 400;
  color: black;
}

.monogram-block {
  background: #A8A9AD;
  width: 22rem;
  height: 12rem;
  font-size: 7rem;
  font-weight: 100;
  position: relative;
  }

.monogram {
  position: absolute;
  top: 50%;
  left: 48%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: white;
}

.w-g {
  letter-spacing: -15px;
}

.headshot {
  display: inline-block;
  height: 12rem;
}

.header {
  display: inline-block;
}

.name-block {
  padding: 0 1em;
}

.full-name {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 2.25em;
}

.profession {
  font-size: 1.25em;
}

.construction-section {
  margin-top: 5em;
  font-size: 1.25em;
}

.notification-form {
  padding: 1.5em 0;
}
