html {
  width: 100%;
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  font-size: 1.25rem;
  margin: 0 3.25em;

  @include media($mobile-large) {
    margin: 0;
    overflow-x: hidden;
  }
}

main {
  position: relative;
}

header {
  position: relative;
  z-index: 10;
}

a {
  font-weight: 400;
  color: black;
  text-decoration: none;
  cursor: pointer;
  transition: $transition;

  &:hover,
  &:focus {
    transition: $transition;
    color: $gray;
    outline: none;
  }
}

.icon-block {

  @include media($mobile-large) {
    width: 480px;
  }

  @include media($mobile-medium) {
    width: 100%;
  }
}

.monogram-block {
  background: $gray;
  width: 22rem;
  height: 12rem;
  font-size: 7rem;
  font-weight: 100;
  position: relative;

  @include media($mobile-large) {
    width: 70%;
  }

  @include media($mobile-medium) {
    height: 100%;

    &:before {
      content: "";
      padding-top: 64.5%;
      display: block;
    }
  }

}

.monogram {
  position: absolute;
  top: 50%;
  left: 48%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: white;

  @include media($mobile) {
    font-size: 0.8em;
  }
}

.w-g {
  letter-spacing: -15px;
}

.headshot {
  display: inline-block;
  height: 12rem;

  @include media($mobile-medium) {
    width: 30%;
    height: 100%;
  }
}

.header {
  display: inline-block;
}

.name-block {
  padding: 0.5em 1rem;
  vertical-align: bottom;

  @include media($min-width) {
    display: block;
  }
}

.full-name {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 2.25em;

  @include media($mobile-medium) {
    font-size: 1.4em;
  }
}

.profession {
  line-height: 1.2em;
  font-size: 1.1em;
  font-weight: 400;
  text-transform: uppercase;

  @include media($mobile-medium) {
    font-size: 0.7em;
  }
}

.double-slash {
  letter-spacing: -3px;
  font-style: italic;
}


.dash-header {
  position: absolute;
  bottom: -0.6em;
  left: -23em;
  z-index: -1;

  @include media($min-width) {
    left: -47em;
  }

  @include media($mobile-medium) {
    left: -54.5em;
  }
}


.dash-side {
  position: absolute;
  left: 19px;
  top: -78px;
  z-index: 5;
  background: white;

  @include media($min-width) {
    display: none;
  }
}

.dash-footer {
  position: absolute;
  bottom: -1em;
  left: -40em;
  z-index: -10;

}

.call-to-action {
  margin-top: 5em;
  font-size: 1em;
}

.contact {
  font-size: 1.25em;
  font-weight: 400;
  line-height: 1.25em;
  position: fixed;
  bottom: 3em;
  left: 41.58em;
  background: white;
  padding-left: 1rem;

  .description {
    font-weight: 100;
    font-size: 0.6em;
    padding: 0 2em 2em 0;
    line-height: 1.25em;
    max-width: 18em;
  }

  @include media($min-width) {
    position: static;
    margin-bottom: 3em;
  }
}

.contact-link {
}

.contact-button {
  cursor: pointer;
  background: $gray;
  border: none;
  color: white;
  text-transform: uppercase;
  font-size: 1em;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  padding: 1rem;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  position: fixed;
  right: -2em;
  top: 40%;
  z-index: 1000;
  transition: $transition;
  visibility: hidden;

  @include media($min-width) {
    visibility: visible;

  }

  &:focus {
    outline: none;
  }

  &:hover {
    border-bottom: 10px solid lightgray;
    background-color: lightgray;
    transition: $transition;
  }

}

.icon-link {
  font-size: 1.5em;
}

.portfolio {
  width: 950px;
  min-height: 500px;
  margin: 4em 0 3.25em 0;
  line-height: 1.4em;
  background: lightgray;
  position: relative;
  z-index: 5;
  font-weight: 400;

  @include media($mobile-large) {
    width: 100%;
  }
}

/* Code used and adapted from Bourbon grid refill */

@mixin grid-item-columns($columns) {
  width: (100% / 12) * $columns;
}

.grid-items {
  $action-color: #477DCA !default;
  $base-background-color: white !default;
  $medium-screen: em(640) !default;
  $large-screen: em(860) !default;
  $grid-items-background: $base-background-color;
  $grid-item-background: desaturate($action-color, 30%);
  $grid-item-colors:
    desaturate($action-color, 30%),
    #3581A5,
    #5FBEBE,
    #98C79A,
    #A7A891,
    #BDCC97,
    #979EA0;
  $grid-item-border-size: 9px;
  $grid-item-columns: 4;
  $grid-item-big-columns: 8;
  $grid-item-full-columns: 12;
  $grid-item-color: white;
  $grid-item-height: 25em;

  @include clearfix;

  .grid-item {
    @include transition ($transition);
    position: relative;
    background: $grid-item-background;
    background-size: cover;
    cursor: pointer;
    float: left;
    height: $grid-item-height;
    overflow: hidden;
    outline: none;
    padding: 2em;
    text-align: center;
    text-decoration: none;
    width: 100%;

    &:hover .overlay,
    &:focus .overlay {
      transition: $slow-transition;
      opacity: 0.75;
      bottom: 0;
      height: 100%;
    }

    &:hover .grid-copy,
    &:focus .grid-copy {
      transition: $slow-transition;
      opacity: 1;
      bottom: 0;
      top: 0;
    }

    .icon-info-1 {
      visibility: hidden;
      font-size: 1.5em;
      background-color: #A8A9AD;
      color: white;
      padding: 0.25em 0.25em 0.25em 0.1em;
      width: 1.5em;
      height: 1.5em;
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 1000;
    }

    @include media($mobile-large) {
      .icon-info-1 {
        // visibility: visible;
      }
    }

    @include media($large-screen) {
      @include grid-item-columns($grid-item-columns);
    }

    @for $i from 1 through length($grid-item-colors) {
// assign colors from $grid-item-colors list
      &:nth-child(#{$i}) {
        $background-from-list: nth($grid-item-colors, $i);
        background-color: $background-from-list;
        // box-shadow: inset 0px 0px 1px 2px darken($background-from-list, 10%);

        &:focus,
        &:hover {
          background-color: darken($background-from-list, 10%);
          background-repeat: no-repeat;
          background-size: cover;
          background-position: top;
        }
      }
    }
  }

  .grid-item img {
      display: block;
      height: 3em;
      margin-bottom: 1em;
      margin: auto;
    }

  .grid-item {
    h3 {
      color: $grid-item-color;
      font-size: 1.3em;
      margin-bottom: 0.4em;
      text-transform: uppercase;
    }

    h4 {
      font-size: 1em;
      text-transform: uppercase;
    }

    p {
        line-height: 1.5em;
        margin-bottom: 1em;
        @include media($medium-screen);
    }
  }


  .grid-item-big {
    @include media($large-screen) {
      @include grid-item-columns($grid-item-big-columns);
    }
    p {
      @include media($medium-screen) {
      }
    }
  }

  .grid-item-full {
    @include media($large-screen) {
      @include grid-item-columns($grid-item-full-columns);
    }
    p {
      @include media($medium-screen) {
      }
    }
  }

  .grid-item-image {
    background-color: $grid-item-background;
    background-position: top;
    background-repeat: no-repeat;
  }

  .flowerpatch {
    background: url("../img/flowerpatch_design.png");
    background-size: cover;
    // background-position: center;
  }

  .flowerpatch-presentation {
    background: url("../img/flowerpatch_presentation.png");
    background-size: cover;
    background-position-x: 40%;
  }

  .overlay {
    position: absolute;
    height: 0;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    background: black;
    opacity: 0.05;
    transition: $slow-transition;
  }

  .grid-copy {
    @include pad(1rem);
    color: white;
    font-weight: 100;
    text-align: left;
    overflow: auto;
    position: absolute;
    top: -100%;
    right: 0;
    left: 0;
    z-index: 15;
    opacity: 0;
    transition: $slow-transition;

  }

  .coming-soon {
    cursor: default;
    opacity: 1;
    height: 10em;
    top: 0;

    .reach-out {
      position: absolute;
      right: 50%;
      bottom: 1em;
      transition: $transition;
      visibility: hidden;
      opacity: 0;
    }

    &:focus .reach-out,
    &:hover .reach-out {
      right: 1.5em;
      transition: all 2.75s ease-in-out;
      visibility: visible;
      opacity: 1;

      @include media($min-width) {
        visibility: hidden;
      }
    }


  }

}


/* End Bourbon grid refill code */
